/* all */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-optical-sizing: auto;
}

:root {
  --white: #ffff;
  --primary: #f2f2f2;
  --gray-soft: #d5d5d5;
  --gray: #bebebe;
  --dark-gray: #888888;
  --blue: #2c5dbe;
  --dark-medium-blue: #264e9f;
  --dark-blue: #1c3e83;
  --dark: #222222;
}

a {
  color: var(--primary);
  text-decoration: none;
}

.btn {
  width: max-content;
  cursor: pointer;
  transition: 0.3s;
  background: none;
  border: none;
  display: flex;
  align-items: start;
  anchor-name: --menu-button;
}

.hidden {
  display: none;
}

body {
  overflow-x: hidden;
}

/* Navbar */

/* Navbar Center */

.navbar-top {
  width: 100%;
  height: 80px;
  background-color: var(--primary);
  display: flex;
  justify-content: center;
}

.navbar-top .navbar-top-wrapper {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-top .navbar-top-wrapper .logo {
  display: flex;
}

.navbar-top .navbar-top-wrapper .logo img {
  height: 65%;
}

.navbar-top .navbar-top-wrapper .logo .school-name {
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
}

.navbar-top .navbar-top-wrapper .logo .school-name h1 {
  font-size: 20px;
  font-weight: 800;
  color: #1676bb;
  margin-left: 10px;
}

.navbar-top .navbar-top-wrapper .logo .school-name p {
  font-size: 12px;
  color: #1676bb;
  margin-left: 10px;
}

.navbar-top .navbar-top-wrapper .media-sosial ul {
  display: flex;
  flex-direction: row;
}

.navbar-top .navbar-top-wrapper .media-sosial ul li {
  width: 50px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-top .navbar-top-wrapper .media-sosial ul li a {
  font-size: 50px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: 0.3s all ease-in-out;
}

.navbar-top .navbar-top-wrapper .media-sosial ul li a:hover {
  width: 35px;
  height: 35px;
}

.navbar-top .navbar-top-wrapper .media-sosial ul li a:nth-last-child {
  margin-right: 0;
}

.navbar-top .navbar-top-wrapper .media-sosial ul li:nth-child(1) a {
  background-color: #144395;
}

.navbar-top .navbar-top-wrapper .media-sosial ul li:nth-child(2) a {
  background-color: #202d44;
}

.navbar-top .navbar-top-wrapper .media-sosial ul li:nth-child(3) a {
  background-color: #202d44;
}

.navbar-top .navbar-top-wrapper .media-sosial ul li:nth-child(4) a {
  background-color: #bf1313;
}

.navbar-top .navbar-top-wrapper .media-sosial ul li a i {
  color: var(--primary);
  font-size: 15px;
  transition: 0.3s all ease-in-out;
}
.navbar-top .navbar-top-wrapper .media-sosial ul li a:hover i {
  font-size: 20px;
}

/* Navbar Bottom */

.navbar-bottom {
  background-color: var(--blue);
  display: flex;
  justify-content: center;
  width: 100%;
  height: 60px;
  position: sticky;
  top: 0;
  z-index: 5;
  transition: color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.navbar-bottom .navbar-bottom-wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 80%;
}

/* big screen */

.navbar-bottom .navbar-bottom-wrapper .big-screen {
  display: flex;
  list-style: none;
}

.navbar-bottom .navbar-bottom-wrapper .big-screen li {
  padding: 20px;
  position: relative;
  display: flex;
  justify-content: center;
}

.navbar-bottom .navbar-bottom-wrapper .big-screen li:first-child {
  padding-left: 0;
}

.navbar-bottom .navbar-bottom-wrapper .big-screen li a {
  font-size: 16px;
  color: var(--gray);
  font-weight: 500;
  transition: 0.3s;
  position: relative;
}
.navbar-bottom .navbar-bottom-wrapper .big-screen li a:hover,
.navbar-bottom .navbar-bottom-wrapper .big-screen li a.active {
  color: var(--primary);
}

.navbar-bottom .navbar-bottom-wrapper .big-screen li a i {
  font-size: 30px;
  position: absolute;
  top: -30%;
  right: -0.9em;
}

.kesiswaan {
  margin-right: 15px;
  position: relative;
}

.navbar-bottom .navbar-bottom-wrapper .big-screen .kesiswaan button {
  font-size: 16px;
  color: var(--gray);
  font-weight: 500;
}

.navbar-bottom .navbar-bottom-wrapper .big-screen .kesiswaan button:hover {
  color: var(--primary);
}

.navbar-bottom .navbar-bottom-wrapper .big-screen .kesiswaan button i {
  font-size: 30px;
  top: 15px;
  right: -10px;
  position: absolute;
}

.navbar-bottom .navbar-bottom-wrapper .big-screen .kesiswaan #popUpKesiswaan {
  border: none;
  background: var(--blue);
  width: max-content;
  padding: 0.8em 0;
  overflow: hidden;
  border-radius: 10px;
  position: absolute;
  position-anchor: menu-button;
  top: 30px;
  position-area: bottom center;
}

.navbar-bottom .navbar-bottom-wrapper .big-screen .kesiswaan #popUpKesiswaan.scrolled {
  background: #1212122d;
  backdrop-filter: blur(0.5rem);
  border: 1px solid var(--dark-gray);
}

.navbar-bottom .navbar-bottom-wrapper .big-screen .kesiswaan #popUpKesiswaan:popover-open {
  display: grid;
}

.navbar-bottom .navbar-bottom-wrapper .big-screen .kesiswaan #popUpKesiswaan a {
  color: var(--white);
  padding: 0.7rem 1.5em;
}

.navbar-bottom .navbar-bottom-wrapper .big-screen .kesiswaan #popUpKesiswaan a:hover {
  background: var(--dark-medium-blue);
  color: var(--primary);
}

/* small screen */

.navbar-bottom .small-screen {
  position: absolute;
  border: none;
  background: var(--blue);
  width: 50vw;
  height: 100vh;
  padding: 0.8em 0;
  top: 0;
  right: 0;
  transition: opacity 5s ease, transform 0.25s ease;
  transform: translateX(50vw);
}

.navbar-bottom .small-screen.active {
  transform: translateX(0vw);
}

.navbar-bottom .hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--gray);
}

/* on scrolled */

.navbar-bottom.scrolled {
  color: var(--blue);
  background-color: var(--primary);
}

.scrolled .navbar-bottom-wrapper .big-screen li a:hover,
.scrolled .navbar-bottom-wrapper .big-screen li a.active {
  color: var(--blue);
}

.navbar-bottom .navbar-bottom-wrapper .big-screen .kesiswaan button.scrolled:hover {
  color: var(--blue);
}

/* end Navbar */

/* header */

.header img {
  width: 100%;
  height: 100dvh;
  object-fit: cover;
  object-position: bottom;
}

.header .header-text {
  position: absolute;
}

.hero-wrapper {
  margin: 0px 6vw;
}

.header .header-text .hero-wrapper h2 {
  color: #fced01;
  font-weight: 600;
  margin-top: 80px;
  font-size: 20px;
  text-shadow: 0px 0px 22px rgba(0, 0, 0, 0.3);
}

.header .header-text .hero-wrapper h1 {
  margin-top: 49px;
  color: var(--primary);
  font-weight: 800;
  font-size: clamp(2.5rem, 4.5vw + 0.5rem, 5.02rem);
}

.header .header-text .hero-wrapper h3 {
  color: var(--primary);
  font-weight: 600px;
  font-size: 18px;
  margin-top: 30px;
}

/* end Header */

/* page 1 */

.page1 {
  width: 100%;
  height: 90vh;
  background-color: var(--primary);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page1 .card {
  overflow: hidden;
  width: 95%;
  height: 600px;
  background-color: var(--primary);
  position: absolute;
  top: -13vh;
  border-radius: 10px;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.4));
}

.page1 .card .top {
  width: 100%;
  height: 20%;
  border-bottom: 1.5px solid var(--dark);
}

.page1 .card .top ul {
  display: flex;
  justify-content: space-around;
}

.page1 .card .top ul li {
  display: flex;
  padding: 40px;
}

.page1 .card .top ul li .icon {
  font-size: 35px;
  font-weight: 100;
}

.page1 .card .top ul li span h2 {
  font-size: 15px;
  font-weight: 400;
  color: var(--dark-gray);
}

.page1 .card .top ul li span a {
  font-size: 18px;
  font-weight: 700;
  color: var(--dark);
  transition: 0.3s all ease-in-out;
}

.page1 .card .top ul li span a:hover {
  color: var(--blue);
}

.page1 .card .top ul li span:nth-child(2) {
  margin-left: 20px;
}

/* main content */

.page1 .card .main {
  display: flex;
  position: relative;
}

.page1 .card .main img {
  width: 50%;
  object-fit: cover;
  object-position: center;
}

.page1 .card .main .page1-content {
  background: linear-gradient(to top left, var(--blue), var(--dark-medium-blue));
  width: 50%;
  height: 480px;
  color: var(--primary);
}

.page1 .card .main .page1-content .container {
  margin-left: 50px;
}

.page1 .card .main .page1-content .container h1 {
  margin-top: 60px;
  font-size: 42px;
}

.page1 .card .main .page1-content .container h2 {
  margin-top: 30px;
  margin-bottom: 80px;
  font-weight: 400;
  font-size: 20px;
  color: var(--gray-soft);
}

.page1 .card .main .page1-content .container a {
  margin-top: 30px;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--white);
  font-weight: 800;
  color: var(--blue);
  transition: 0.3s all ease-in-out;
}

.page1 .card .main .page1-content .container a:hover {
  background-color: var(--gray-soft);
}

/* end  page 1 */

/* page 2 */

.page2 {
  background-color: var(--primary);
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: block;
}

.page2 .cover-page2 {
  height: 505px;
  width: 100%;
  object-fit: cover;
}

.page2 .mainpage2 {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
}

.page2 .mainpage2 .container {
  margin-top: 50px;
  justify-content: space-between;
  display: flex;
  width: 95%;
}

.page2 .mainpage2 .container .contentpage2 {
  width: 60%;
}

.page2 .mainpage2 .container .contentpage2 h3 {
  line-height: 30px;
  color: var(--primary);
  font-weight: 400;
  margin-right: 50px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

.page2 .mainpage2 .container .tittle {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.page2 .mainpage2 .container .tittle .tittle-image {
  display: flex;
}

.page2 .mainpage2 .container .tittle .tittle-image img {
  width: 25px;
  height: 25px;
}

.page2 .mainpage2 .container .tittle .tittle-image h1 {
  font-size: 20px;
  font-weight: 600;
  color: var(--primary);
  margin-left: 10px;
  font-family: "Poppins", sans-serif;
}

.page2 .mainpage2 .container .tittle h2 {
  font-size: 60px;
  font-weight: 400;
  color: var(--primary);
  font-family: "Poppins", sans-serif;
}

/* end page 2 */

/* media query */

@media screen and (max-width: 768px) {
  .navbar-bottom .navbar-bottom-wrapper .big-screen li:nth-child(8),
  .navbar-bottom .navbar-bottom-wrapper .big-screen li:nth-child(7),
  .navbar-bottom .navbar-bottom-wrapper .big-screen li:nth-child(6),
  .navbar-bottom .navbar-bottom-wrapper .big-screen li:nth-child(5),
  .navbar-bottom .navbar-bottom-wrapper .big-screen li:nth-child(4) {
    display: none;
  }
}

/* end media query */
